<div class="edit-form-container" [formGroup]="articulusInteriorForm">
    <div class="form-row">
        <app-field-wrapper label="Description">
            <app-text-input [textFormControl]="articulusInteriorDescriptionControl" label="Description" placeholder="Enter description" [validatorTranslations]="articulusInteriorDescriptionValidatorNames" />
        </app-field-wrapper>
    </div>

    <div class="form-row">
        <app-field-wrapper label="Year">
            <app-number-input [numberFormControl]="articulusInteriorYearControl" label="year" placeholder="Enter year" [validatorTranslations]="articulusInteriorYearValidatorNames" />
        </app-field-wrapper>
    </div>

</div>
