<div class="edit-form-container" [formGroup]="articulusInteriorForm">
    <div class="form-row">
        <app-field-wrapper label="ScriptumTriviale">
            <app-text-input [textFormControl]="articulusInteriorScriptumTrivialeControl" label="ScriptumTriviale" placeholder="Enter scriptumTriviale" [validatorTranslations]="articulusInteriorScriptumTrivialeValidatorNames" />
        </app-field-wrapper>
    </div>

    <div class="form-row">
        <app-field-wrapper label="NumerusStupidus">
            <app-number-input [numberFormControl]="articulusInteriorNumerusStupidusControl" label="numerusStupidus" placeholder="Enter numerusStupidus" [validatorTranslations]="articulusInteriorNumerusStupidusValidatorNames" />
        </app-field-wrapper>
    </div>

</div>
