/* @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityResultComponentScssRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
      [ searchValue="OpusMagnum" replaceByExpression="model.entityName" ]
      [ searchValue="opusMagnum" replaceByExpression="model.entityNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ */
.opus-magnum-table-container {
  padding: 20px;

  table {
    width: 100%;
  }

  th.mat-header-cell {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  }
} 
