<div class="table-container">
    <div class="action-bar">
        <button mat-button color="primary" (click)="onAdd()">
            <mat-icon>add</mat-icon> Add item...
        </button>
        <!-- mat-slide-toggle [checked]="isInlineEditingMode" (change)="onInlineEditModelChanged($event)">Inline Edit</mat-slide-toggle -->

    </div>
    <table mat-table [dataSource]="dataSource">
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let authorLibraryAwardFormControl" (click)="onSelect(authorLibraryAwardFormControl)">
                @if (isInlineEditingMode) {
                    <mat-form-field appearance="outline">
                        <input matInput [formControl]="descriptionControl(authorLibraryAwardFormControl)" placeholder="Description">
                    </mat-form-field>
                } @else {
                    {{ descriptionFromControl(authorLibraryAwardFormControl) }}
                }
            </td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let authorLibraryAwardFormControl" (click)="onSelect(authorLibraryAwardFormControl)">
                @if (isInlineEditingMode) {
                    <mat-form-field appearance="outline">
                        <input matInput [formControl]="yearControl(authorLibraryAwardFormControl)" placeholder="Enter year">
                    </mat-form-field>
                } @else {
                    {{ yearFromControl(authorLibraryAwardFormControl) }}
                }
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let authorLibraryAwardFormControl">
                <button mat-icon-button color="primary" (click)="onEdit(authorLibraryAwardFormControl)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(authorLibraryAwardFormControl)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selectedRow] = "isSelected(row)"></tr>
    </table>
</div> 
