/* @tt{{{

    @move-comment-backward
    @template-renderer [
        templateRendererClassName="EntityReferenceTableComponentScssRenderer"
        templateRendererPackageName="senegai.codegen.renderer.angular"
        templateRendererInterfaceName="UiEntityRenderer"
        templateRendererInterfacePackageName="senegai.codegen.renderer.angular"
    ] [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="EntitasRelata" replaceByExpression="model.entityName.pascalCase" ]
        [ searchValue="entitasRelata" replaceByExpression="model.entityName.camelCase" ]
        [ searchValue="entitas-relata" replaceByExpression="model.entityName.kebabCase" ]
        [ searchValue="MembrumRelatum" replaceByExpression="model.entityRootItem.itemName.pascalCase" ]
        [ searchValue="membrumRelatum" replaceByExpression="model.entityRootItem.itemName.camelCase" ]
        [ searchValue="membrum-relatum" replaceByExpression="model.entityRootItem.itemName.kebabCase" ]
        [ searchValue="ClavisPrimaria" replaceByExpression="model.idAttribute.attributeName.pascalCase" ]
        [ searchValue="clavisPrimaria" replaceByExpression="model.idAttribute.attributeName.camelCase" ]

    @modify-provided-filepath-by-replacements

}}}@ */
.table-container {
  padding: 20px;

  table {
    width: 100%;
  }

  th.mat-header-cell {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  .action-bar {
    margin-bottom: 10px;
  }
}
