        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="search-fields">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="searchQueryControl" placeholder="Enter search query for EntitasRelata">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>search</mat-icon>
                    Search
                </button>
                <button mat-button type="button" (click)="onReset()">
                    <mat-icon>clear</mat-icon>
                    Reset
                </button>
            </div>
        </form>
