/* @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="ItemSearchComponentScssRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
      [ searchValue="Author" replaceByExpression="model.entityName" ]
      [ searchValue="author" replaceByExpression="model.entityNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ */
.search-card {
  margin-bottom: 20px;
}

.search-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.search-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  button {
    min-width: 100px;
  }
}

mat-form-field {
  width: 100%;
} 
