<div class="edit-form-container" [formGroup]="authorLibraryAwardForm">
    <div class="form-row">
        <app-field-wrapper label="Description">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="descriptionFormControl" placeholder="Enter Description">
                @if (hasError('description', 'required')) {
                    <mat-error>
                        Description is required
                    </mat-error>
                }
            </mat-form-field>
        </app-field-wrapper>
    </div>

    <div class="form-row">
        <app-field-wrapper label="Year">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="yearFormControl" placeholder="Enter year">
                @if (hasError('year', 'required')) {
                    <mat-error>
                        Year is required
                    </mat-error>
                }
                @if (hasError('year', 'min')) {
                    <mat-error>
                        Year must be a least 1900
                    </mat-error>
                }
            </mat-form-field>
        </app-field-wrapper>
    </div>
</div>
