/* @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityRoutableEditComponentScssRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
      [ searchValue="OpusMagnum" replaceByExpression="model.entityName" ]
      [ searchValue="opusMagnum" replaceByExpression="model.entityNameLowercase" ]
      [ searchValue="opus-magnum" replaceByExpression="model.entityNameDashCase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ */
