<!-- @tt{{{
    @rlb

    @move-comment-backward
    @template-renderer [
        templateRendererClassName="EntityItemFormPartComponentHtmlRenderer"
        templateRendererPackageName="senegai.codegen.renderer.angular"
        templateRendererInterfaceName="UiEntityItemRenderer"
        templateRendererInterfacePackageName="senegai.codegen.renderer.angular"
    ] [
        modelClassName="UiEntityFormViewItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui.entityform"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="OpusMagnum" replaceByExpression="model.entity.entityName.pascalCase" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entity.entityName.camelCase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entity.entityName.kebabCase" ]
        [ searchValue="silva-optionum" replaceByExpression="model.item.itemName.kebabCase" ]
        [ searchValue="SilvaOptionum" replaceByExpression="model.item.itemName.pascalCase" ]
        [ searchValue="silvaOptionum" replaceByExpression="model.item.itemName.camelCase" ]

    @modify-provided-filename-by-replacements

    @rla

}}}@ -->
<div [formGroup]="silvaOptionumForm">
<!-- @tt{{{
    @if [ conditionExpression="model.tabs.isNotEmpty()" ]
}}}@  -->
<mat-tab-group dynamicHeight>
<!-- @tt{{{
    @foreach [ iteratorExpression="model.tabs" loopVariable="tab" ]

        @replace-value-by-expression
        [ searchValue="Main" replaceByExpression="tab.tabName" ]

}}}@  -->

    <mat-tab label="Main">
        <div class="column-layout">
            <!-- @tt{{{
                @foreach [ iteratorExpression="tab.columns" loopVariable="column" ]
            }}}@  -->

            <div class="column">
                <!-- @tt{{{
                    @render-template
                    [ templateRendererClassName="EntityItemFormPartBlocksComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                    [ modelName="blocks" modelExpression="column.blocks" ]
                    [ modelName="item" modelExpression="model.item" ]
                    [ modelName="entity" modelExpression="model.entity" ]
                }}}@  -->

                <!-- @tt{{{
                    @template-renderer [
                        templateRendererClassName="EntityItemFormPartBlocksComponentHtmlRenderer"
                        templateRendererPackageName="senegai.codegen.renderer.angular"
                    ] [
                        modelClassName="UiEntityFormBlockModel"
                        modelPackageName="senegai.codegen.renderer.model.ui.entityform.blocks"
                        modelName="blocks"
                        isList="yes"
                    ] [
                        modelClassName="UiItemModel"
                        modelPackageName="senegai.codegen.renderer.model.ui"
                        modelName="item"
                    ] [
                        modelClassName="UiEntityModel"
                        modelPackageName="senegai.codegen.renderer.model.ui"
                        modelName="entity"
                    ]
                }}}@  -->

                <!-- @tt{{{ @rlb  @ignore-text @rla }}}@ -->
                <div class="form-row">
                    <app-field-wrapper label="IndexUnicus">
                        <mat-form-field appearance="fill">
                            <input matInput [formControl]="indexUnicusControl" readonly>
                            <mat-hint>IndexUnicus cannot be modified</mat-hint>
                        </mat-form-field>
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @rlb  @end-ignore-text @rla }}}@ -->

                <!-- @tt{{{
                    @foreach [ iteratorExpression="blocks" loopVariable="block" ]

                }}}@  -->
                <!-- @tt{{{
                    @if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormNamedSectionSplitBlockModel" ]

                    @replace-value-by-expression
                    [ searchValue="Veni, vidi, vici" replaceByExpression="block.sectionName" ]

                }}}@  -->
                <app-section-splitter label="Veni, vidi, vici"></app-section-splitter>
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormTextBlockModel" ]
                    @replace-value-by-expression
                    [ searchValue="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." replaceByExpression="block.text" ]

                }}}@  -->
                <app-text-block label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." />
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormItemAttributeBlockModel" ]

                }}}@  -->
                    <!-- @tt{{{
                        @if [ conditionExpression="!block.attribute.isList && !block.attribute.isNullable" ]

                        @replace-value-by-expression
                        [ searchValue="campusTextusObligatorius" replaceByExpression="block.attribute.attributeName.camelCase" ]
                        [ searchValue="Campus Textus Obligatorius" replaceByExpression="block.attribute.attributeName.pascalCase" ]

                    }}}@  -->

                    <div class="form-row">
                        <app-field-wrapper label="Campus Textus Obligatorius">
                            <!-- @tt{{{
                                @render-template
                                    [ templateRendererClassName="SingleFormInputHtmlTagRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                                    [ modelName="attributeModel" modelExpression="block.attribute" ]
                                @ignore-text
                            }}}@  -->
                            <app-text-input [textFormControl]="campusTextusObligatoriusControl" label="campusTextusObligatorius" placeholder="Enter Campus Textus Obligatorius" [validatorTranslations]="campusTextusObligatoriusValidatorNames" />
                            <!-- @tt{{{ @end-ignore-text }}}@  -->
                        </app-field-wrapper>
                    </div>
                    <!-- @tt{{{ @rlb @end-if @rla }}}@  -->
                    <!-- @tt{{{
                        @if [ conditionExpression="!block.attribute.isList && block.attribute.isNullable" ]

                        @replace-value-by-expression
                        [ searchValue="campusTextusOptionalis" replaceByExpression="block.attribute.attributeName.camelCase" ]
                        [ searchValue="CampusTextusOptionalis" replaceByExpression="block.attribute.attributeName.pascalCase" ]

                    }}}@  -->

                    <div class="form-row">
                        <app-field-wrapper label="CampusTextusOptionalis"
                                            [nullabilityCheckboxFormControl]="campusTextusOptionalisIsNotNullControl"
                                            [formGroupToDisableIfNullField]="campusTextusOptionalisControl"
                         >
                            <!-- @tt{{{
                                @render-template
                                    [ templateRendererClassName="SingleFormInputHtmlTagRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                                    [ modelName="attributeModel" modelExpression="block.attribute" ]
                                @ignore-text
                            }}}@  -->
                            <app-text-input [textFormControl]="campusTextusOptionalisControl" label="campusTextusOptionalis" placeholder="Enter campusTextusOptionalis" [validatorTranslations]="campusTextusOptionalisValidatorNames" />
                            <!-- @tt{{{ @end-ignore-text }}}@  -->
                        </app-field-wrapper>
                    </div>
                    <!-- @tt{{{ @rlb @end-if @rla }}}@  -->

                <!-- @tt{{{
                    @if [ conditionExpression="block.attribute.isItem && block.attribute.isList && !block.attribute.isNullable" ]

                    @replace-value-by-expression
                    [ searchValue="Articulus Interior List" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="ArticulusInteriorList" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="articulusInteriorList" replaceByExpression="block.attribute.attributeName.camelCase" ]
                    [ searchValue="ArticulusInterior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.pascalCase" ]
                    [ searchValue="articulusInterior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.camelCase" ]
                    [ searchValue="articulus-interior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.kebabCase" ]

                }}}@  -->

                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior List">
                        <app-articulus-interior-table
                                [articulusInteriorFormArray]="articulusInteriorListControl"
                                (editArticulusInteriorFormGroup)="onArticulusInteriorListFormGroupEdit($event)"
                                (deleteArticulusInteriorFormGroup)="onArticulusInteriorListFormGroupDelete($event)"
                        />
                        @if (articulusInteriorListFormGroupUnderEdit) {
                            <div class="edit-area">
                                <button mat-icon-button color="primary" (click)="closeArticulusInteriorListFormGroupUnderEdit()">
                                    <mat-icon>edit_off</mat-icon>
                                </button>
                                <!-- @tt{{{
                                    @render-template
                                        [ templateRendererClassName="SingleFormInputHtmlTagRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                                        [ modelName="attributeModel" modelExpression="block.attribute" ]
                                        [ modelName="isList" modelExpression="true" ]
                                    @ignore-text
                                }}}@  -->
                                <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorListFormGroupUnderEdit!"  />
                                <!-- @tt{{{ @end-ignore-text }}}@  -->
                            </div>
                        }
                    </app-field-wrapper>

                </div>
                <!-- @tt{{{ @rlb @end-if @rla }}}@  -->
                <!-- @tt{{{
                    @if [ conditionExpression="block.attribute.isItem && block.attribute.isList && block.attribute.isNullable" ]

                    @replace-value-by-expression
                    [ searchValue="Articulus Interior Optionalis List" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="ArticulusInteriorOptionalisList" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="articulusInteriorOptionalisList" replaceByExpression="block.attribute.attributeName.camelCase" ]
                    [ searchValue="ArticulusInterior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.pascalCase" ]
                    [ searchValue="articulusInterior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.camelCase" ]
                    [ searchValue="articulus-interior" replaceByExpression="block.attribute.attributeAndItem.type.item.itemName.kebabCase" ]

                }}}@  -->

                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior Optionalis List"
                                       [nullabilityCheckboxFormControl]="articulusInteriorOptionalisListIsNotNullControl"
                                       [formGroupToDisableIfNullField]="articulusInteriorOptionalisListControl"
                    >
                        <app-articulus-interior-table
                                [articulusInteriorFormArray]="articulusInteriorOptionalisListControl"
                                (editArticulusInteriorFormGroup)="onArticulusInteriorOptionalisListFormGroupEdit($event)"
                                (deleteArticulusInteriorFormGroup)="onArticulusInteriorOptionalisListFormGroupDelete($event)"
                        />
                        @if (articulusInteriorOptionalisListFormGroupUnderEdit) {
                            <div class="edit-area">
                                <button mat-icon-button color="primary" (click)="closeArticulusInteriorOptionalisListFormGroupUnderEdit()">
                                    <mat-icon>edit_off</mat-icon>
                                </button>
                                <!-- @tt{{{
                                    @render-template
                                        [ templateRendererClassName="SingleFormInputHtmlTagRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                                        [ modelName="attributeModel" modelExpression="block.attribute" ]
                                        [ modelName="isList" modelExpression="true" ]
                                    @ignore-text
                                }}}@  -->
                                <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorOptionalisListFormGroupUnderEdit!"  />
                                <!-- @tt{{{ @end-ignore-text }}}@  -->
                            </div>
                        }
                    </app-field-wrapper>

                </div>
                <!-- @tt{{{ @rlb @end-if @rla }}}@  -->

                <!-- @tt{{{
                 @rlb
                 @end-if
                 @end-foreach
                 @rla
                }}}@  -->
                <!-- @tt{{{ @rlb  @end-template-renderer @rla }}}@ -->
            </div>
            <!-- @tt{{{ @rlb @end-foreach @rla }}}@ -->
            <!-- @tt{{{ @rlb  @ignore-text @rla }}}@ -->
            <div class="column">
                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior Singularis">
                        <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorSingularisControl"  />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Appellatio">
                        <app-appellatio-selector [enumFormControl]="appellatioControl" [validatorTranslations]="appellatioValidatorNames"></app-appellatio-selector>
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Campus Numerorum">
                        <app-number-input [numberFormControl]="campusNumerorumControl" [validatorTranslations]="campusNumerorumValidatorNames"></app-number-input>
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior Singularis Optionalis"
                                       [nullabilityCheckboxFormControl]="articulusInteriorSingularisOptionalisIsNotNullControl"
                                       [formGroupToDisableIfNullField]="articulusInteriorSingularisOptionalisControl"
                    >
                        <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorSingularisOptionalisControl"  />
                    </app-field-wrapper>
                </div>
            </div>
            <!-- @tt{{{ @rlb  @end-ignore-text @rla }}}@ -->
        </div>
    </mat-tab>
    <!-- @tt{{{ @rlb @end-foreach @rla }}}@ -->
    <!-- @tt{{{ @rlb @ignore-text @rla }}}@ -->
    <mat-tab label="Miscellaneous">
        <div class="column-layout">
            <div class="column">

                <div class="form-row">
                    <app-field-wrapper label="CampusDiei"
                                       [nullabilityCheckboxFormControl]="campusDieiIsNotNullControl"
                                       [formGroupToDisableIfNullField]="campusDieiControl"
                    >
                        <app-datepicker-input [datepickerFormControl]="campusDieiControl" label="campusDiei" placeholder="Enter campusDiei" [validatorTranslations]="campusDieiValidatorNames" />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="CampusBivalens">
                        <app-boolean-input [booleanFormControl]="campusBivalensControl" label="campusBivalens" [validatorTranslations]="campusBivalensValidatorNames" />
                    </app-field-wrapper>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- @tt{{{ @rlb  @end-ignore-text @rla }}}@ -->
</mat-tab-group>
<!-- @tt{{{
    @end-if
}}}@  -->

<!-- @tt{{{
    @if [ conditionExpression="model.noTab.isNotEmpty()" ]
}}}@  -->
<div class="column-layout">
    <!-- @tt{{{
        @foreach [ iteratorExpression="model.noTab" loopVariable="column" ]
    }}}@  -->
    <div class="column">
            <!-- @tt{{{
                @render-template
                [ templateRendererClassName="EntityItemFormPartBlocksComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" ]
                [ modelName="blocks" modelExpression="column.blocks" ]
                [ modelName="item" modelExpression="model.item" ]
                [ modelName="entity" modelExpression="model.entity" ]
            }}}@  -->
    </div>
    <!-- @tt{{{
        @end-foreach
    }}}@  -->
</div>
<!-- @tt{{{
    @end-if
}}}@  -->
</div>
