<!-- @tt{{{
    @rlb

    @move-comment-backward
    @template-renderer [
        templateRendererClassName="EntityItemFormPartComponentHtmlRenderer"
        templateRendererPackageName="senegai.codegen.renderer.angular"
        templateRendererInterfaceName="UiEntityItemRenderer"
        templateRendererInterfacePackageName="senegai.codegen.renderer.angular"
    ] [
        modelClassName="UiEntityFormViewItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui.entityform"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="silva-optionum" replaceByExpression="model.item.itemName.kebabCase" ]
        [ searchValue="SilvaOptionum" replaceByExpression="model.item.itemName.pascalCase" ]
        [ searchValue="silvaOptionum" replaceByExpression="model.item.itemName.camelCase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entity.entityName.kebabCase" ]
        [ searchValue="OpusMagnum" replaceByExpression="model.entity.entityName.pascalCase" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entity.entityName.camelCase" ]

    @modify-provided-filename-by-replacements

    @rla

}}}@ -->
<div [formGroup]="silvaOptionumForm">

<mat-tab-group dynamicHeight>
<!-- @tt{{{
    @foreach [ iteratorExpression="model.tabs" loopVariable="tab" ]

        @replace-value-by-expression
        [ searchValue="Main" replaceByExpression="tab.tabName" ]

}}}@  -->

    <mat-tab label="Main">
        <div class="column-layout">
            <!-- @tt{{{
                @foreach [ iteratorExpression="tab.columns" loopVariable="column" ]
            }}}@  -->

            <div class="column">
                <!-- @tt{{{
                    @foreach [ iteratorExpression="column.blocks" loopVariable="block" ]

                @replace-value-by-expression
                [ searchValue="BLOCK-TYPE" replaceByExpression="block" ]


                }}}@  -->
                <!-- p>BLOCK-TYPE</p -->
                <!-- @tt{{{
                    @if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormNamedSectionSplitBlockModel" ]

                    @replace-value-by-expression
                    [ searchValue="All won Articulus Interior" replaceByExpression="block.sectionName" ]

                }}}@  -->
                <app-section-splitter label="All won Articulus Interior"></app-section-splitter>
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormTextBlockModel" ]
                    @replace-value-by-expression
                    [ searchValue="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." replaceByExpression="block.text" ]

                }}}@  -->
                <app-text-block label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." />
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormItemAttributeBlockModel" ]

                }}}@  -->
                    <!-- @tt{{{
                        @if [ conditionExpression="block.attribute.attributeCardinality == senegai.codegen.renderer.model.ui.AttributeCardinalityModel.SINGLE_ITEM" ]

                        @replace-value-by-expression
                        [ searchValue="campusTextusObligatorius" replaceByExpression="block.attribute.attributeName.camelCase" ]
                        [ searchValue="Campus Textus Obligatorius" replaceByExpression="block.attribute.attributeName.pascalCase" ]

                    }}}@  -->

                    <div class="form-row">
                        <app-field-wrapper label="Campus Textus Obligatorius">

                            <app-text-input [textFormControl]="campusTextusObligatoriusControl" label="campusTextusObligatorius" placeholder="Enter Campus Textus Obligatorius" [validatorTranslations]="campusTextusObligatoriusValidatorNames" />
                        </app-field-wrapper>
                    </div>
                    <!-- @tt{{{ @rlb @end-if @rla }}}@  -->
                    <!-- @tt{{{
                        @if [ conditionExpression="block.attribute.attributeCardinality == senegai.codegen.renderer.model.ui.AttributeCardinalityModel.NULLABLE_SINGLE_ITEM" ]

                        @replace-value-by-expression
                        [ searchValue="campusTextusOptionalis" replaceByExpression="block.attribute.attributeName.camelCase" ]
                        [ searchValue="CampusTextusOptionalis" replaceByExpression="block.attribute.attributeName.pascalCase" ]

                    }}}@  -->

                    <div class="form-row">
                        <app-field-wrapper label="CampusTextusOptionalis"
                                            [nullabilityCheckboxFormControl]="campusTextusOptionalisIsNotNullControl"
                                            [formGroupToDisableIfNullField]="campusTextusOptionalisControl"
                         >

                            <app-text-input [textFormControl]="campusTextusOptionalisControl" label="campusTextusOptionalis" placeholder="Enter campusTextusOptionalis" [validatorTranslations]="campusTextusOptionalisValidatorNames" />
                        </app-field-wrapper>
                    </div>
                    <!-- @tt{{{ @rlb @end-if @rla }}}@  -->

                <!-- @tt{{{
                    @if [ conditionExpression="block.attribute.attributeCardinality == senegai.codegen.renderer.model.ui.AttributeCardinalityModel.LIST_ITEMS" ]

                    @replace-value-by-expression
                    [ searchValue="Articulus Interior" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="articulusInterior" replaceByExpression="block.attribute.attributeName.camelCase" ]
                    [ searchValue="articulusInterior" replaceByExpression="block.attribute.attributeName.pascalCase" ]
                    [ searchValue="articulus-interior" replaceByExpression="block.attribute.attributeName.kebabCase" ]

                }}}@  -->

                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior">
                        <app-articulus-interior-table
                                [articulusInteriorFormArray]="articulusInteriorListControl"
                                (editArticulusInteriorFormGroup)="onArticulusInteriorListFormGroupEdit($event)"
                                (deleteArticulusInteriorFormGroup)="onArticulusInteriorListFormGroupDelete($event)"
                        />
                        @if (articulusInteriorListFormGroupUnderEdit) {
                            <div class="edit-area">
                                <button mat-icon-button color="primary" (click)="closeArticulusInteriorListFormGroupUnderEdit()">
                                    <mat-icon>edit_off</mat-icon>
                                </button>
                                <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorListFormGroupUnderEdit!"  />
                            </div>
                        }
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @rlb @end-if @rla }}}@  -->

                <!-- @tt{{{
                 @rlb
                 @end-if
                 @end-foreach
                 @rla
                }}}@  -->
            </div>
            <!-- @tt{{{ @rlb @end-foreach @rla }}}@ -->
            <!-- @tt{{{ @rlb  @ignore-text @rla }}}@ -->
            <div class="column">
                <div class="form-row">
                    <app-field-wrapper label="Articulus Interior Singularis">
                        <app-articulus-interior-form-part [articulusInteriorForm]="articulusInteriorSingularisControl"  />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Appellatio">
                        <app-appellatio-selector [enumFormControl]="appellatioControl" [validatorTranslations]="appellatioValidatorNames"></app-appellatio-selector>
                    </app-field-wrapper>
                </div>
            </div>
            <!-- @tt{{{ @rlb  @end-ignore-text @rla }}}@ -->
        </div>
    </mat-tab>
    <!-- @tt{{{ @rlb @end-foreach @rla }}}@ -->
    <!-- @tt{{{ @rlb @ignore-text @rla }}}@ -->
    <mat-tab label="Miscellaneous">
        <div class="column-layout">
            <div class="column">

                <div class="form-row">
                    <app-field-wrapper label="CampusDiei"
                                       [nullabilityCheckboxFormControl]="campusDieiIsNotNullControl"
                                       [formGroupToDisableIfNullField]="campusDieiControl"
                    >
                        <app-datepicker-input [datepickerFormControl]="campusDieiControl" label="campusDiei" placeholder="Enter campusDiei" [validatorTranslations]="campusDieiValidatorNames" />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="CampusBivalens">
                        <app-boolean-input [booleanFormControl]="campusBivalensControl" label="campusBivalens" [validatorTranslations]="campusBivalensValidatorNames" />
                    </app-field-wrapper>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- @tt{{{ @rlb  @end-ignore-text @rla }}}@ -->
</mat-tab-group>
</div>
