<!-- @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntitySearchComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="OpusMagnum" replaceByExpression="model.entityName.pascalCase" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entityName.camelCase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entityName.kebabCase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ -->
<mat-card class="search-card">
    <mat-card-header>
        <mat-card-title>Search OpusMagnum</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="search-fields">
                <!-- @tt{{{
                    @foreach [ iteratorExpression="model.searchCriteriaAttributes" loopVariable="attribute" ]

                        @replace-value-by-expression
                        [ searchValue="title" replaceByExpression="attribute.attributeName.camelCase" ]
                        [ searchValue="Title" replaceByExpression="attribute.attributeName.pascalCase" ]
                        [ searchValue="string" replaceByExpression="attribute.typescriptAttributeType" ]

                }}}@  -->
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" placeholder="Enter title">
                </mat-form-field>
                <!-- @tt{{{ @slbc @end-foreach @slac }}}@ -->

                <!-- @tt{{{ @slbc  @ignore-text @slac }}}@ -->
                <mat-form-field appearance="outline">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" placeholder="Enter id">
                </mat-form-field>
                <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
            </div>

            <div class="search-actions">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>search</mat-icon>
                    Search
                </button>
                <button mat-button type="button" (click)="onReset()">
                    <mat-icon>clear</mat-icon>
                    Reset
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card> 
