<!-- @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="ItemFormComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="ItemRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="ItemModel"
        modelPackageName="senegai.codegen.renderer.model"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="Author" replaceByExpression="model.itemName" ]
        [ searchValue="author" replaceByExpression="model.itemNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ -->
<div class="edit-form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ author ? 'Edit Author' : 'New Author' }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
                <app-author-form-part [authorForm]="authorForm" />

                <div class="form-actions">
                    <button mat-button type="button" (click)="onCancel()">
                        Cancel
                    </button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!authorForm.valid">
                        Save
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
