<div [formGroup]="opusMagnumForm">

<div>
    <div class="form-row">
        <app-field-wrapper label="ID">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="idControl" readonly>
                <mat-hint>ID cannot be modified</mat-hint>
            </mat-form-field>
        </app-field-wrapper>
    </div>
</div>

<mat-tab-group dynamicHeight>
    <mat-tab label="Main">
        <div class="column-layout">
            <div class="column">
                <app-section-splitter label="The magnific opus magnum"></app-section-splitter>
                <div class="form-row">
                    <app-field-wrapper label="Title">
                        <app-text-input [textFormControl]="titleControl" label="title" placeholder="Enter the title" [validatorTranslations]="titleValidatorNames" />
                    </app-field-wrapper>
                </div>

                <app-text-block label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt." />
                <div class="form-row">
                    <app-field-wrapper label="Author">
                        <app-author-form-part [authorForm]="authorFormGroup"  />
                    </app-field-wrapper>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
</div>
