/* @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="ItemFormPartComponentScssRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiItemRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
      [ searchValue="Author" replaceByExpression="model.itemName" ]
      [ searchValue="author" replaceByExpression="model.itemNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ */

.form-row {
  margin-bottom: 20px;

  mat-form-field {
    width: 100%;
  }
}

.edit-area {
  border-left-color: darkgrey;
  border-left-width: 1px;
  border-left-style: solid;
}

.column-layout {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.column {
  flex: 1;
}

@media (max-width: 768px) {
  .column-layout {
    flex-direction: column;
  }
}
