<!-- @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityItemFormPartComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityItemRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityFormViewItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui.entityform"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="Author" replaceByExpression="model.item.itemName" ]
        [ searchValue="author" replaceByExpression="model.item.itemNameLowercase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entity.entityNameDashCase" ]
        [ searchValue="OpusMagnum" replaceByExpression="model.entity.entityName" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entity.entityNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ -->
<div [formGroup]="authorForm">

<div>
    <div class="form-row">
        <app-field-wrapper label="ID">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="idControl" readonly>
                <mat-hint>ID cannot be modified</mat-hint>
            </mat-form-field>
        </app-field-wrapper>
    </div>
</div>

<mat-tab-group dynamicHeight>
<!-- @tt{{{
    @foreach [ iteratorExpression="model.tabs" loopVariable="tab" ]

        @replace-value-by-expression
        [ searchValue="Main" replaceByExpression="tab.tabName" ]

}}}@  -->

    <mat-tab label="Main">
        <div class="column-layout">
            <!-- @tt{{{
                @foreach [ iteratorExpression="tab.columns" loopVariable="column" ]
            }}}@  -->

            <div class="column">
                <!-- @tt{{{
                    @foreach [ iteratorExpression="column.blocks" loopVariable="block" ]

                @replace-value-by-expression
                [ searchValue="BLOCK-TYPE" replaceByExpression="block" ]


                }}}@  -->
                <!-- p>BLOCK-TYPE</p -->
                <!-- @tt{{{
                    @if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormNamedSectionSplitBlockModel" ]

                    @replace-value-by-expression
                    [ searchValue="All won library awards" replaceByExpression="block.sectionName" ]

                }}}@  -->
                <app-section-splitter label="All won library awards"></app-section-splitter>
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormTextBlockModel" ]
                    @replace-value-by-expression
                    [ searchValue="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." replaceByExpression="block.text" ]

                }}}@  -->
                <app-text-block label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." />
                <!-- @tt{{{
                    @else-if [ conditionExpression="block is senegai.codegen.renderer.model.ui.entityform.blocks.UiEntityFormItemAttributeBlockModel" ]
                    @replace-value-by-expression
                    [ searchValue="firstname" replaceByExpression="block.attributeName" ]
                    [ searchValue="First name" replaceByExpression="block.attributeName" ]
                    [ searchValue="first name" replaceByExpression="block.attributeName" ]

                }}}@  -->
                <div class="form-row">
                    <app-field-wrapper label="First name">
                        <app-text-input [textFormControl]="firstnameControl" label="firstname" placeholder="Enter first name" [validatorTranslations]="firstnameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{
                    @slbc
                    @end-if
                    @end-foreach
                    @slac
                }}}@  -->
                <!-- @tt{{{ @ignore-text @slac }}}@ -->
                <div class="form-row">
                    <app-field-wrapper label="Library Awards">
                        <app-library-award-table
                                [libraryAwardFormArray]="libraryAwardListFormArray"
                                (editLibraryAwardFormGroup)="onAuthorLibraryAwardFormGroupEdit($event)"
                                (deleteLibraryAwardFormGroup)="onAuthorLibraryAwardFormGroupDelete($event)"
                        />
                        @if (authorLibraryAwardUnderEdit) {
                            <div class="edit-area">
                                <button mat-icon-button color="primary" (click)="closeAuthorLibraryAwardUnderEdit()">
                                    <mat-icon>edit_off</mat-icon>
                                </button>
                                <app-library-award-form-part [libraryAwardForm]="authorLibraryAwardUnderEdit!"  />
                            </div>
                        }
                    </app-field-wrapper>
                </div>
                <app-section-splitter label="Names"></app-section-splitter>
                <div class="form-row">
                    <app-field-wrapper label="First name">
                        <app-text-input [textFormControl]="firstnameControl" label="firstname" placeholder="Enter first name" [validatorTranslations]="firstnameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <div class="form-row">
                    <app-field-wrapper label="Last name">
                        <app-text-input [textFormControl]="lastnameControl" label="lastname" placeholder="Enter lastname" [validatorTranslations]="lastnameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
            </div>
            <!-- @tt{{{ @slbc @end-foreach @slac }}}@ -->
            <!-- @tt{{{ @slbc  @ignore-text @slac }}}@ -->
            <div class="column">
                <div class="form-row">
                    <app-field-wrapper label="Gender">
                        <app-gender-selector [enumFormControl]="genderControl" [validatorTranslations]="genderValidatorNames"></app-gender-selector>
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Nickname"
                                       [nullabilityCheckboxFormControl]="nicknameIsNotNullControl"
                                       [formGroupToDisableIfNullField]="nicknameControl"
                    >

                        <app-text-input [textFormControl]="nicknameControl" label="nickname" placeholder="Enter nickname" [validatorTranslations]="nicknameValidatorNames" />
                    </app-field-wrapper>
                </div>
            </div>
            <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
        </div>
    </mat-tab>
    <!-- @tt{{{ @slbc @end-foreach @slac }}}@ -->
    <!-- @tt{{{ @slbc @ignore-text @slac }}}@ -->
    <mat-tab label="Miscellaneous">
        <div class="column-layout">
            <div class="column">

                <div class="form-row">
                    <app-field-wrapper label="Birthday"
                                       [nullabilityCheckboxFormControl]="birthdayIsNotNullControl"
                                       [formGroupToDisableIfNullField]="birthdayControl"
                    >
                        <app-datepicker-input [datepickerFormControl]="birthdayControl" label="birthday" placeholder="Enter birthday" [validatorTranslations]="birthdayValidatorNames" />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Vegetarian">
                        <app-boolean-input [booleanFormControl]="vegetarianControl" label="vegetarian" [validatorTranslations]="vegetarianValidatorNames" />
                    </app-field-wrapper>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
</mat-tab-group>
</div>
