<!-- @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityItemFormPartComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityItemRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="entity"
    ]

    @template-model [
        modelClassName="UiItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="Author" replaceByExpression="model.itemName" ]
        [ searchValue="author" replaceByExpression="model.itemNameLowercase" ]
        [ searchValue="opus-magnum" replaceByExpression="entity.entityNameDashCase" ]
        [ searchValue="OpusMagnum" replaceByExpression="entity.entityName" ]
        [ searchValue="opusMagnum" replaceByExpression="entity.entityNameLowercase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ -->
<div [formGroup]="authorForm">

<div>
    <div class="form-row">
        <app-field-wrapper label="ID">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="idControl" readonly>
                <mat-hint>ID cannot be modified</mat-hint>
            </mat-form-field>
        </app-field-wrapper>
    </div>
</div>

<mat-tab-group dynamicHeight>
    <mat-tab label="Main">
        <div class="column-layout">
            <div class="column">
                <!-- @tt{{{ @ignore-text @slac }}}@ -->
                <app-section-splitter label="All won library awards"></app-section-splitter>
                <app-text-block label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." />
                <div class="form-row">
                    <app-field-wrapper label="Library Awards">
                        <app-author-library-award-table
                                [libraryAwardFormArray]="libraryAwardListFormArray"
                                (editAuthorLibraryAwardFormGroup)="onAuthorLibraryAwardFormGroupEdit($event)"
                                (deleteAuthorLibraryAwardFormGroup)="onAuthorLibraryAwardFormGroupDelete($event)"
                        />
                        @if (authorLibraryAwardUnderEdit) {
                            <div class="edit-area">
                                <button mat-icon-button color="primary" (click)="closeAuthorLibraryAwardUnderEdit()">
                                    <mat-icon>edit_off</mat-icon>
                                </button>
                                <app-author-library-award-form-part [authorLibraryAwardListForm]="authorLibraryAwardUnderEdit!"  />
                            </div>
                        }
                    </app-field-wrapper>
                </div>
                <app-section-splitter label="Names"></app-section-splitter>
                <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
                <!-- @tt{{{
                @foreach [ iteratorExpression="model.attributes" loopVariable="attribute" ]

                    @replace-value-by-expression
                    [ searchValue="firstname" replaceByExpression="attribute.attributeName" ]
                    [ searchValue="First name" replaceByExpression="attribute.attributeName" ]
                    [ searchValue="first name" replaceByExpression="attribute.attributeName" ]

            }}}@  -->
                <div class="form-row">
                    <app-field-wrapper label="First name">
                        <app-text-input [textFormControl]="firstnameControl" label="firstname" placeholder="Enter first name" [validatorTranslations]="firstnameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @slbc @end-foreach @slac }}}@ -->

                <!-- @tt{{{ @slbc  @ignore-text @slac }}}@ -->

                <div class="form-row">
                    <app-field-wrapper label="Last name">
                        <app-text-input [textFormControl]="lastnameControl" label="lastname" placeholder="Enter lastname" [validatorTranslations]="lastnameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
            </div>
            <div class="column">
                <!-- @tt{{{ @slbc  @ignore-text @slac }}}@ -->
                <div class="form-row">
                    <app-field-wrapper label="Gender">
                        <mat-form-field appearance="fill">
                            <mat-select [formControl]="genderControl">
                                @for (gender of genderList; track gender) {
                                    <mat-option [value]="gender">
                                        <app-gender-i18n [enumValue]="gender" />
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Nickname"
                                       [nullabilityCheckboxFormControl]="nicknameIsNotNullControl"
                                       [formGroupToDisableIfNullField]="nicknameControl"
                    >

                        <app-text-input [textFormControl]="nicknameControl" label="nickname" placeholder="Enter nickname" [validatorTranslations]="nicknameValidatorNames" />
                    </app-field-wrapper>
                </div>
                <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
            </div>
        </div>
    </mat-tab>
    <!-- @tt{{{ @slbc  @ignore-text @slac }}}@ -->
    <mat-tab label="Miscellaneous">
        <div class="column-layout">
            <div class="column">

                <div class="form-row">
                    <app-field-wrapper label="Birthday"
                                       [nullabilityCheckboxFormControl]="birthdayIsNotNullControl"
                                       [formGroupToDisableIfNullField]="birthdayControl"
                    >
                        <app-datepicker-input [datepickerFormControl]="birthdayControl" label="birthday" placeholder="Enter birthday" [validatorTranslations]="birthdayValidatorNames" />
                    </app-field-wrapper>
                </div>

                <div class="form-row">
                    <app-field-wrapper label="Vegetarian">
                        <app-boolean-input [booleanFormControl]="vegetarianControl" label="vegetarian" [validatorTranslations]="vegetarianValidatorNames" />
                    </app-field-wrapper>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- @tt{{{ @slbc  @end-ignore-text @slac }}}@ -->
</mat-tab-group>
</div>
