<!-- @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityBoardComponentHtmlRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityModel"
        modelPackageName="senegai.codegen.renderer.model.ui"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="OpusMagnum" replaceByExpression="model.entityName.pascalCase" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entityName.camelCase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entityName.kebabCase" ]

    @modify-provided-filename-by-replacements
    @slac

}}}@ -->
<div class="opus-magnum-container">
    <h2>{{'opusMagnum.board.title' | transloco }}</h2>

    <mat-accordion class="opus-magnum-accordion" multi>
        <!-- Search Panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>search</mat-icon>
                    <ng-container>Search OpusMagnums</ng-container>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-opus-magnum-search (search)="onSearch($event)"></app-opus-magnum-search>
        </mat-expansion-panel>

        <!-- Results Panel -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>list</mat-icon>
                    <ng-container>OpusMagnum List</ng-container>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-opus-magnum-result
                    [searchCriteria]="currentSearchCriteria"
                    (selectOpusMagnum)="onOpusMagnumSelect($event)"
                    (deleteOpusMagnum)="onDeleteOpusMagnum($event)"
                    [refreshKey]="refreshKey">
            </app-opus-magnum-result>
        </mat-expansion-panel>

        <!-- Edit Form Panel -->
        <mat-expansion-panel
                [expanded]="!!selectedOpusMagnum"
                [disabled]="!selectedOpusMagnum">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>edit</mat-icon>
                    <ng-container>Edit OpusMagnum</ng-container>
                </mat-panel-title>
                @if (selectedOpusMagnum) {
                    <mat-panel-description>
                        <!-- @tt{{{ @slbc
    @foreach [ iteratorExpression="model.summaryAttributes" loopVariable="attribute" ]

    @replace-value-by-expression
    [ searchValue="title" replaceByExpression="attribute.attributeName.camelCase" ]
}}}@  -->{{ selectedOpusMagnum.title }} <!-- @tt{{{ @end-foreach @slac }}}@ -->

                    </mat-panel-description>
                }
            </mat-expansion-panel-header>

            @if (selectedOpusMagnum) {
                <app-opus-magnum-form
                        [opusMagnum]="selectedOpusMagnum"
                        (save)="onSave($event)"
                        (cancel)="onCancel()">
                </app-opus-magnum-form>
            }
        </mat-expansion-panel>
    </mat-accordion>
</div> 
