<mat-form-field appearance="fill" style="width: 100%">
    @if (label != '') {
        <mat-label>{{ label }}</mat-label>
    }
    <mat-select [formControl]="enumFormControl">
        @for (appellatio of appellatioList; track appellatio) {
            <mat-option [value]="appellatio">
                <app-appellatio-i18n [enumValue]="appellatio" />
            </mat-option>
        }
    </mat-select>

    @for (validatorTranslation of validatorTranslations; track validatorTranslation) {
        @if (hasError(validatorTranslation.validatorName)) {
            <mat-error>{{ validatorTranslation.validatorTranslationKey | transloco }}</mat-error>
        }
    }
</mat-form-field>
