/* @tt{{{
    @slbc

    @template-renderer [ templateRendererClassName="EntityItemTableComponentScssRenderer" templateRendererPackageName="senegai.codegen.renderer.angular" templateRendererInterfaceName="UiEntityItemRenderer" templateRendererInterfacePackageName="senegai.codegen.renderer.angular"]

    @template-model [
        modelClassName="UiEntityFormViewItemModel"
        modelPackageName="senegai.codegen.renderer.model.ui.entityform"
        modelName="model"
    ]

    @replace-value-by-expression
        [ searchValue="library-award" replaceByExpression="model.item.itemName.kebabCase" ]
        [ searchValue="libraryAward" replaceByExpression="model.item.itemName.camelCase" ]
        [ searchValue="LibraryAward" replaceByExpression="model.item.itemName.pascalCase" ]
        [ searchValue="opus-magnum" replaceByExpression="model.entity.entityName.kebabCase" ]
        [ searchValue="OpusMagnum" replaceByExpression="model.entity.entityName.pascalCase" ]
        [ searchValue="opusMagnum" replaceByExpression="model.entity.entityName.camelCase" ]

    @modify-provided-filename-by-replacements

    @slac

}}}@ */
.table-container {
  padding: 20px;

  table {
    width: 100%;
  }

  th.mat-header-cell {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  }
}

.selectedRow {
  background-color: rgba(0, 0, 0, .01);
}
